<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
    <div class="row">
        <h3>Music System</h3>
        <div class="col-md-6 login-form-1" style="align-">
            <formn name="form1">
            <div class="form-group">
                <label for="formGroupExampleInput">account </label>
                <input name="username" type="text" class="form-control" placeholder="" value="" />
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">password </label>
                <input name="password" type="password" class="form-control" placeholder="" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" onclick="form1.action= '{% url 'music_system:redirect'%}';" value="Log in" />
            </div>
            </form>
        </div>
        <div class="form-group" >
            <a href="#" class="ForgetPwd">Forget Password?</a>
            <br>
            <a href="{% url 'music_system:search_music' %}" class="ForgetPwd">Go to homepage</a>
        </div>
    </div>
</div>
